.body-content {
    background-color: #E8F2F4;
    padding: 40px 20px;
    overflow: auto;
    top: 55px;
    bottom: 60px;
    left: 0;
    right: 0;
    position: absolute;
}
.body-content .toolbar {
    border-bottom-color: #290808;
    height: 45px;
    width: 100%;
    margin: auto 0;
    text-align: center;
}
@media (min-height: 300px){
    .body-content .content {
        height: 450px;
        /* overflow: auto; */
        width: 600px;
        margin-top: 20px;
        background-color: #fff;
    }
}