.body-content {
    background-color: #E8F2F4;
    height: 100%;
}
.body-content .toolbar {
    background-color: #fff;
    height: 45px;
    width: 100%;
    font-size: 18px;
}
.body-content .content {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
a, a:hover {
    text-decoration: none;
}
a:hover {
    color: aqua;
}
